*{
  font-size:var(--font-size);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}
:root{
    --bg-color:white;
    --bg-color-linear-gradient: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab );
    --bs-purple: #6f42c1;
    --bs-indigo: #6610f2;
    --border-color: #ee975c; 
    --meta-blue:#385898;
    --font-color:gray;
    --font-size: large;
    --strong-color: #ee975c;
    --icon-color:gray;
}
/*tag's styles*/
body{
  animation: linearGradient 50s ease-in-out infinite;
  background-size: 300% 300%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* body::before{
  animation: linearGradient 50s ease-in-out infinite;
  animation: text-reveal 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  background-image: url(./estrelas.png);
  content:'';
  display:block;
  position:fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
} */


header{
  width:100%;
  margin:auto;
  padding: auto;
}
article{
  margin: auto auto;
  
    /*justify-content: center;*/
}

a:link{
    padding: 10px;
}
i:hover{
  opacity: 30;
  border-radius:50%;
  transform: scale(3);
  box-shadow: 2px 2px 2px var(--icon-color);
  color:var(--icon-color)
}
h1{
  animation: fade 1.0s ease-in forwards;
  overflow: hidden;
  position: relative;
  opacity: 0;
  margin: auto auto;
}

h1::after{
  animation: text-reveal 1.0s forwards;
  background-color: red;
  content:'';
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
strong{
color:var(--strong-color);
}
#avatar{
  margin: auto;

}
img{
  animation: load-full 5s forwards;
  border-radius: 50%;
  border: 6px solid white;
  width: 250px;
  height: 250px;
  margin: 0 auto;
 }

 img:hover{
  box-shadow: inset 0px 0px 10px 25px #ee975c;
}

svg{
width: 40%;
height: 40%;
fill: transparent;  /* #65bbf2 */
stroke: black;
stroke-width: 4px;
stroke-dasharray: 647; 
stroke-dashoffset: 0; 
animation: dash 2s reverse infinite;
}
/*IDs*/
#meta-fb:hover{
 --icon-color:var(--meta-blue);
}
#instagram:hover{
  border-radius: 25%;
  --icon-color: white;
  --bg-color:red;
}

/*CLASS*/

 .main_card{
   /* padding: 50px;*/
    text-align: center;
    font-size: 20px;
    position:relative;
 }

 .water{
    width: 260px;
    height: 258px;
    border: 2px solid black;
    position:relative;
    overflow:hidden;
    border-radius:50%;

  }

.water::after{
  content:"";
  width:250px;
  height:250px;
  left:50%;
  position:absolute;
  display: block;
  background: rgb(21, 80, 131);
  opacity:0.5;
  border-radius:40%;
  transform:translateX(-50%);
  animation: fill 5s forwards; 
}

/*SOCIAL NETWORK*/
.main_social_network {
    width: 80%;
    margin: auto;
   /* background-color: #ee975c;*/
    color:#2D3142 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}
.main_social_network > article{
    flex-basis: 33%;
}

.main_social_network > article h3 a{
    width: 100px;
    height: 300px;
}
.nav{
  background-color: #0080FF;
  padding: 210px;
}
.nav li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
 }


/****in test*********************
.main_social_network > article h3 a:hover{
    opacity: 30%;
}*/

/* @media(max-width:57em){
  :root{
    --font-size: medium;
    --bg-color:black;
  }  
     .main_card img{
        animation: load-full 5s forwards;
        border-radius: 50%;
        border: 3px solid white;
        width: 150px;
        height: 150px;
     }
     
    .water{
        width:148px;
        height:148px;
        position:relative;
        overflow:hidden;
        border: solid 2px aliceblue;
        content-align:center;
        border-radius:50%;
    }

      

      .water::before{
        content:"";
        width:250px; 
        height:254px;
        left:50%;
        position:absolute;
        background: aliceblue;
        opacity:0.5;
        border-radius:40%;
        transform:translateX(-50%);
        animation: fill 5s ease-in-out forwards; 
    }
 } */

 @keyframes text-reveal{
     from{
        transform: translateX(-200%);
     }
     to{
        transform: translateX(101%);
     }
 }

 @keyframes fade{
    to{
        opacity: 1;
    }
 }

 @keyframes linearGradient{
     0%{
        background-position: 0 50%;
     }
     50%{
        background-position: 100% 50%;
     }
     100%{
        background-position: 0 50%;
     }
 }
 @keyframes dash{
     from{
         stroke-dashoffset: 0;
     }
     to{
         stroke-dashoffset: 647;
     }
 }
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes load-full{
  0%{
    border-top-color:#ee975c;
  }
  25%{
    border-top-color:#ee975c;
    border-right-color:#ee975c;
  }
   50%{
    border-top-color:#ee975c;
    border-right-color:#ee975c;
    border-bottom-color:#ee975c;  
  }
  100%{
    border-color: var(--border-color);
  }
}
@keyframes fill{
  from{
    top:250px;
    transform: translateX(-50%) rotate(0deg);
  }
  to{
    top:0px;
    transform: translateX(-50%) rotate(360deg);
  }
}

/*********************************************************************for fluid "water" animation use****************************************************************************
 .load{
   width:250px;
   height:250px;
   position:relative;
   overflow:hidden;
   border: solid 20px;
   content-align:center;
   border-radius:50%;
 }

.load::before{
   content:"";
   width:500px;
   height:500px;
   left:50%;
   position:absolute;
   background: aliceblue;
   opacity:0.5;
   border-radius:40%;
   transform:translateX(-50%);
   animation: fill 5s forwards;  
 @keyframes fill{
  from{
  top:250px;
    transform: translateX(-50%) rotate(0deg);
  }
  to{
    top:0px;
    transform: translateX(-50%) rotate(360deg);
  }
}
***************************************************************************************END**************************************************************************************/
