body{
  background: black;
  color : #371a47;
}
header{
  background:red;
}
a:link{
    padding: 10px;
}
.nav{
  background-color: #0080FF;
  padding: 210px;
}
.nav li{
  list-style-type: none;
  diplay: inline-block;
  padding: 10px;
 }
 .sections{
     padding: 50px;
     text-align: left;
     font-size: 20px;
     background-image: url('./_cdn/img/eu.jpg');
 }
 .sections h2{
     text-align: center;
     color: blueviolet; 
 }
 .sections p{
     font-size: 10px;
 }

