:root{
    --bg-color: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab )
}
body{
  animation: linearGradient 10s ease-in-out infinite;
  background:  var(--bg-color)no-repeat;
  background-size: 300% 300%;
  color : white; 
  height: 100vh;
}

header{
  width:100%;
  margin:auto;
  padding: auto;
}
article{
    margin: auto auto;
    /*justify-content: center;*/
}
a:link{
    padding: 10px;
}
.nav{
  background-color: #0080FF;
  padding: 210px;
}
.nav li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
 }
 h1{
     animation: fade 1s 0.5s forwards;
     overflow: hidden;
     position: relative;
     color: black;
     opacity: 0;
     margin: auto auto;
 }
 h1::after{
    animation: text-reveal 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
    background-color: red;
    content:'';
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
 }
 .main_card{
   /* padding: 50px;*/
    text-align: center;
    margin: auto auto;
    font-size: 20px;
    
 }
 svg{
    width: 40%;
    height: 40%;
    fill: transparent;  /* #65bbf2 */
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 647; 
    stroke-dashoffset: 0; 
    animation: dash 2s reverse infinite;
 }
 .main_card header p{
    color: white;
}
 .main_card img{
    margin: auto auto;
     border-radius: 100%;
     border: 3px solid #ee975c;
     width: 250px;
     height: 250px;
 }
/*SOCIAL NETWORK*/
.main_social_network {
    width: 80%;
    margin: auto;
    background-color: #ee975c;
    color:#2D3142 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}
.main_social_network > article{
    flex-basis: 33%;
}

.main_social_network > article h3 a{
    color:#2D3142;
    width: 100px;
    height: 300px;
}

.main_social_network > article h3 a:hover{
    opacity: 30%;
} 

@media(max-width:20em){
     .main_card img{
        margin: auto auto;
        border-radius: 100%;
        border: 3px solid #ee975c;
        width: 150px;
        height: 150px;
     }
 }

 @keyframes text-reveal{
     from{
        transform: translateX(-101%);
     }
     to{
        transform: translateX(101%);
     }
 }

 @keyframes fade{
    to{
        opacity: 1;
    }
 }

 @keyframes linearGradient{
     0%{
        background-position: 0 50%;
     }
     50%{
        background-position: 100% 50%;
     }
     100%{
        background-position: 0 50%;
     }
 }
 @keyframes dash{
     from{
         stroke-dashoffset: 0;
     }
     to{
         stroke-dashoffset: 647;
     }
 }
